*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color:aliceblue;
    background-image: url(https://www.poresto.net/u/fotografias/m/2021/1/12/f608x342-43865_73588_7.jpg)
}
#texto {
    color: cyan;
}